<footer>
  <div class="container-fluid">
    <div class="row ht50 footer-links">
      <div class="col">
        <a href="/public/about-us" class="my-anchor"><i class="bi bi-file-person"></i>About Us</a>
        <a href="/public/contact-us" class="my-anchor"><i class="bi bi-send"></i>Contact Us </a>
        <a href="" class="my-anchor"><i class="bi bi-shield-lock"></i>Privacy</a>
      </div>
    </div>
  </div>
</footer>
