<header>
  <div class="container-fluid">
    <div class="row navbar">
      <div class="col-10">
        <!-- TODO: Hide anchors until user has logged in -->
        <img src="/public/img/bow.png" alt="" id="logo">
        <a href="/public/" class="my-anchor">Home</a>
        <a href="/public/recipes" class="my-anchor">Recipes</a>
        <a href="" class="my-anchor">Best Sellers</a>
        <a href="" class="my-anchor">Stores</a>
        <a href="" class="my-anchor">Features</a>
      </div>
      <div class="col-2 navbar-login">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Sign In
        </button>
        <!-- TODO: After login, change to log out button. -->
      </div>
    </div>
  </div>
</header>
