.ingredientList li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.ingredientList li.fade-in {
    opacity: 1;
}

.ingredientList ul {
    list-style-type: none;
    padding: 0;
}