.ht200{
  height: 100px;
}
.backgroundColor{
  background-color: #FAF9F6;
}
.topRecipes{
    color: black;

    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.recipe-in-top{
    color:black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.green-line{
    height: 5px;
    background-color: #a6cba4;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sort-recipes{
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.clickable{
  color:black;
}
.hunterGather{
  position: absolute;
  font-size:45px;
  font-weight: 700;
  top: 225px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.secondHeader{
  font-size: 20px;
}