<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
  <%- include("./shared/header") %>
    <main>
        <div class="container">
            <div class="row">
                <!-- Can be stylized later -->
                <!-- TODO: Add profile pictures? -->
                <div class="col-lg-8 offset-lg-2 text-center team">
                    <h1>Our Team</h1>
                    <h3>Alec Barron</h3>
                    <img class = "profile_pic" src="static/TempLogo.png" alt="">
                    <p>
                        Alec Barran is a junior Computer Science student specializing in cybersecurity software engineering. He primarily uses Python and has proficiency in C/C++, 
                        C#, Java, JavaScript, and HTML/CSS.
                    </p>
                    <h3>Griffin Gerry</h3>
                    <img class = "profile_pic" src="static/TempLogo.png" alt="">
                    <p>
                        Griffin Gerry is a junior Computer Science student with a focus on cybersecurity. He has some experience with HTML, CSS, PHP, and SQL. 
                    </p>
                    <h3>William Heinecke</h3>
                    <img class = "profile_pic" src="static/TempLogo.png" alt="">
                    <p>
                        William Heinecke is a junior studying Computer Science who has experience with Python and is learning techniques for web development.
                    </p>
                </div>
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h1 class = "mb-4">Our Mission</h1>
                    <p>
                        HunterGather is a platform which combines the joy of discovering new recipes with the convenience of online grocery shopping. 
                        It is the lovechild of recipe sites and online shopping, where users can have a one-stop destination to find diverse recipes and instantly 
                        add all the ingredients to the cart for hassle-free delivery
                    </p>
                    <p>
                        What sets HunterGather apart is its integrated shopping service. With a simple click, users can add selected ingredients 
                        from a recipe directly to their shopping cart. Once the user is ready, they can review their selection and proceed to checkout. 
                        The connection between recipe discovery and ingredient procurement eliminates the need for multiple apps, culminating in a more 
                        efficient and enjoyable cooking experience.
                    </p>
                    <p>
                        In a world that is becoming faster than ever, we understand the need for an efficient experience. 
                    </p>
                    <p>
                        Join us on our mission to revolutionize the way you cook and shop for groceries. With HunterGather, culinary exploration has never been more 
                        convenient, accessible, and enjoyable.
                    </p>
                </div>
        
            </div>
        </div>
    </main>

    <%- include("./shared/footer") %>
</body>

</html>