<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
<body>
  <%- include("./shared/header") %>
  <div class="container-fluid backgroundColor">
    <div class="container">
      <div class="row" style="margin-top:100px">
        <h2>Sign Up</h2>
      </div>
      <div class="row">
        <div class="col-3 green-line"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div id="liveAlertPlaceholder"></div>
          <form id="signup" action="/public/signup" method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
              <small id="usernameHelpBlock" class="form-text text-muted">
                Your username must be unique and cannot be changed.
              </small>
            </div>
            <div class="mb-3">
              <label for="displayname" class="form-label">Display Name</label>
              <input type="text" class="form-control" id="displayname" name="displayname" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
              <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 8-20 characters long.
              </small>
            </div>
            <button type="button" class="btn btn-primary" onclick="submitForm()">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include("./shared/footer") %>

  <script>
    function validateForm() {
      clearAlert();

      const form = document.getElementById("signup");
      const formData = new FormData(form);

      if (formData.get("username") === "") {
        appendAlert("Username cannot be empty", "warning");
        return false;
      }
      if (formData.get("displayname") === "") {
        appendAlert("Display Name cannot be empty", "warning");
        return false;
      }
      if (formData.get("password").length < 8 || formData.get("password").length > 20) {
        appendAlert("Password must be 8-20 characters long", "warning");
        return false;
      }

      return true;
    }

    function submitForm() {
      if (!validateForm()) {
        return false;
      }

      const form = document.getElementById("signup");
      const formData = new FormData(form);
      let xhr = new XMLHttpRequest();

      // send Form data to server
      xhr.open("POST", form.action);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify({
        username: formData.get("username"),
        displayname: formData.get("displayname"),
        password: formData.get("password")
      }));

      // handle server response
      xhr.onload = function() {
        if (xhr.status === 200) {
          window.location.replace("/public/#signup-success");
        } else if (xhr.status === 202) {
          console.log('hi')
          appendAlert("Username already exists", "danger");
        } else {
          appendAlert(`Unexpected response: HTTP/${xhr.status}`, "danger");
        }
      };
    }
  </script>
</body>
</html>
