:root {
    --primary-color: #FFA500;
    --secondary-color: white;
    --tertiary-color: rgb(130, 75, 28);
    --page-color: #e8e8e8;
    --hover-color: red;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);
}

footer {
    margin-top: auto;
}

.ht50 {
    height: 50px
}

.ht100 {
    height: 100px;
}

.my-anchor {
    display: inline;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.my-anchor:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

.navbar {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.navbar-login {
    display: flex;
    justify-content: flex-end;
}

.login-modal input[type=text],
.login-modal input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: #f1f1f1;
}

.login-modal button {
    justify-content: right;
}

.footer-links {
    background-color: var(--tertiary-color);
    display: flex;
    text-align: center;
    align-items: center;
}

.footer-links i {
    margin-right: 5px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg-logo {
    width: 500px;
}

.carousel-img {
    margin: auto;    
    width: 50%;
}